*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: rgb(176, 230, 122);
    
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Harmattan', sans-serif;
    
}


.textview{
    width: 245px;
    height: 50px;
    font-size: 25px;
    padding: 5px;
    border: none;
    background-color:white;
    
}

 .button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    background-color: gray;
    
}

.button:hover{
    background-color: black;
    color: white;
}